.container {
    background-color: #add8e6cf;
    margin-top: 7px;
    padding: 15px;
    width: 500px;
    border: 3px solid white;
    border-radius: 10px;
    height: 645px;
}

button {
    transform: scale(1.0);
    transition: all 3s;
}

button:hover {
    transform: scale(1.2);
}

.gameBoard {
    display: none;
    overflow: auto;
}

#game {
    border: 3px solid black;
    width: 300px;
    height: 600px;
    box-sizing: content-box;
    background-color: #332b43e5;
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.row {
    width: 300px;
    height: calc(600px / 20);
    margin: auto;
}

.cell {
    border-radius: 2px;
    border: 1px solid #757575;
    height: 100%;
    background-size: cover;
    width: calc(300px / 10);
}

#miniMonitor {
    position: absolute;
    background-color: #332b43e5;
    margin-left: 330px;
    background-color: #332b43e5;
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.miniRow {
    width: calc(20px * 6);
    height: 20px;
    margin: auto;
    display: flex;
}


.miniCell {
    border-radius: 2px;
    border: 1px solid #757575;
    height: 20px;
    width: 20px;
    background-size: cover;
}

.checked {
    background-size: cover;
    background-color: red;
}

.tetromino {
    background-color: red;
    background-image: url("../img/i_shape.jpg");
    background-size: cover;
}

.checkedred {
    background-color: red;
    background-image: url("../img/t_shape.jpg");
    background-size: cover;

}

.checkeddeepskyblue {
    background-color: deepskyblue;
    background-image: url("../img/l_shape.jpg");
    background-size: cover;


}

.checkedantiquewhite {
    background-color: antiquewhite;
    background-image: url("../img/o_shape.jpg");
    background-size: cover;


}

.checkedcyan {
    background-color: cyan;
    background-image: url("../img/j_shape.jpg");
    background-size: cover;


}

.checkedsalmon {
    background-color: salmon;
    background-image: url("../img/i_shape.jpg");
    background-size: cover;


}

.checkedyellow {
    background-color: yellow;
    background-image: url("../img/s_shape.jpg");
    background-size: cover;


}

.checkedorange {
    background-color: orange;
    background-image: url("../img/z_shape.jpg");
    background-size: cover;


}

#scoreContainer {
    position: absolute;
    margin-left: 330px;
    margin-top: 110px;
    width: 130px;
    box-sizing: content-box;
    border-radius: 5px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scoreContainer h3 {
    margin: 0;
    font-weight: bolder;
    width: 120px;
    background: linear-gradient(to right, #09009f, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
}

#scoreContainer #score, #scoreContainer #level {
    font-weight: bolder;
    color: cyan;
    font-size: 1.75rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-sizing: content-box;
    border: 5px;
    background-color: #332b43e5;
    text-align: center;
    width: 93%;
    padding: 15px 0;
    border: 5px solid white;

}

#scoreContainer .title {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.container .mainMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .mainMenu img {
    margin: auto;
    width: max-content;
    height: 35%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .mainMenu .buttonContainer {
    margin: auto;
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .mainMenu .buttonContainerLevel {
    margin: auto;
    width: 80%;
    height: 20%;
    flex-wrap: wrap;
    display: none;
    justify-content: space-around;
}

.container .mainMenu .buttonContainerLevel button {
    flex-basis: 30%;
    margin-bottom: 10px;
}

.container .mainMenu .buttonContainerOption {
    margin: auto;
    width: 80%;
    height: 20%;
    flex-wrap: wrap;
    display: none;
    justify-content: space-around;
}

.container .mainMenu .buttonContainerOption button {
    flex-basis: 40%;
    margin-bottom: 20px;
}

.container .gameBoard .buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    position: absolute;
    margin-left: 330px;
    margin-top: 380px;
    width: 130px;
    box-sizing: content-box;
    border-radius: 5px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .cover, .container .cover2 {
    display: none;
    background-color: purple;
    height: 30px;
    width: 300px;
    position: absolute;
    margin-left: 4px;
    margin-top: 515px;
}

@keyframes fadeinout {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 1;
    }
}

@keyframes fadeLowLevel {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

.container .gameBoard .levelModal {
    background-color: rgba(35, 35, 35, 0.62);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: all .3s ease-out 0s;
    visibility: hidden;
}

.container .gameBoard .levelModal .modalContent {
    background-color: #d2d2d2;
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 190px;
    border-radius: 20px;
    z-index: 6;
    transition: all .3s ease-out 0s;
    opacity: 0;
    transform: scale(.5);
    visibility: hidden;
}

.container .gameBoard .levelModal .modalContent .title, .titleModal {
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
}

.container .gameBoard .levelModal .modalContent .title h1, .titleModal h1 {
    font-weight: bolder;
    background: linear-gradient(to right, #09009f, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    margin-bottom: 30px;
}

.container .gameBoard .levelModal .modalContent .titleModal .buttonContainer {
    display: flex;
    justify-content: space-around;
}

.container .gameBoard .coverMini {
    position: absolute;
    height: 40px;
    width: 80px;
    margin-left: 355px;
    margin-top: 25px;
    display: none;
    text-align: center;
    background-image: url("../img/x_mark.png");
    background-size: cover;
}

.container .gameBoard .coverMini i {
    font-size: 40px;
    color: #00ff95;
}

@media only screen and (max-width: 428px) {

    body {
        background-image: url('../img/background2.jpg') !important;
        background-repeat: repeat !important;
        background-size: auto !important;
    }

    .container {
        width: 95%;
        margin-left: 7px;
    }

    .container .mainMenu .buttonContainer {
        width: 80%;
    }

    .container .mainMenu .buttonContainerLevel, .container .mainMenu .buttonContainerOption {
        height: 30%;
    }
}
